*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 20px;
}

.Title {
    text-align: center;
    margin: 20px 0;
    color: #333;
}

.Device-List {
    margin: auto;
    max-width: 500px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.Add-Device {
    background-color: #050505;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
    display: flex;
    border: none;
    cursor: pointer;
}

.Remove-Device {
    background-color: #ff4d4d;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    border: none;
    cursor: pointer;
}

.Edit-Device {
    background-color: #4da6ff;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
}

.Device-Control-Panel {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.Device-Control {
    padding: 5px 10px;
    border-radius: 100%;
    margin: 0 5px;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}